* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.nav {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  background-color: #440c9e;
}
.nav-list {
  display: flex;
}
.nav ul li {
  list-style-type: none;
  display: inline-block;
}
.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 0.5rem;
  color: #ebe8f0;
  text-decoration: none;
}
.welcome-section {
  width: 100%;
  height: 100vh;
  display: inline-grid;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  font-size: 3rem;
  /*background-image:url('https://images.unsplash.com/photo-1591375779766-bf562a2a19c8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');*/
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: #3a3d48;*/
}
h1 {
  color: #ebe8f0;
  padding-bottom: 1rem;
}
.welcome-section p {
  padding-bottom: 5.5rem;
  color: #b8b8b888;
}
.contac-section {
  width: 100%;
  height: 80vh;
  padding-top: 1.3rem;
  justify-content: space-evenly;
  background-color: #690f92;
  text-align: center;
}

.contac-section h2 {
  font-size: 3rem;
  color: #ebe8f0;
}
.contac-section p {
  /*font-size: 2rem;*/
  color: #ebe8f0;
}
.contac-section a {
  font-size: 1.6rem;
}
.contac-section a,
h2,
p {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.project-section {
  width: 100%;
  height: 100vh;
  display: grid;
  position: static;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  grid-gap: 5px;
  align-items: center;
  /*padding-bottom: 2rem;*/
  background-color: #3a3d48;
}
.project-section a {
  text-decoration: none;
}
/*.project-tile {
  /*padding: 1rem;
}*/

.content {
  background-color: #ebe8f0;
  height: 20rem;
  justify-self: stretch;
  text-align: center;
}
.cssimagen {
  display: inline;
  width: 100%;
  height: 100%;
}
.cssimagen img {
  display: block;
  width: 100%;
  height: 50%;
}
/*.content img {
}*/
.content h3,
a {
  font-size: 1rem;
  text-decoration: none;
  display: block;
  color: black;
}
footer {
  width: 100%;
  display: flex;
  padding-top: 1.3rem;
  justify-content: space-evenly;
  /*margin: 2px;*/
  background-color: #3a3d48;
  align-items: center;
}
footer a,
p {
  color: #ebe8f0;
  text-decoration: none;
  display: block;
}

@media only screen and (max-width: 380px) {
  .nav-list a {
    font-size: 0.8rem;
    padding: 0.2rem;
    background-color: lightblue;
  }
  .welcome-section {
    background-image: url(../img/bg2.jpg);
    /*background-size: cover;*/
    background-origin: content-box;
  }
  .welcome-section h1 {
    font-size: 2rem;
  }
  .welcome-section p {
    font-size: 0.8rem;
  }
  .project-section {
    display: grid;
    grid-template-columns: 80%;
    width: 100%;
    height: 100vh;
    grid-gap: 0;
    align-items: center;
    
  }
  .content {
    background-color: #ebe8f0;
    display: inline-grid;
    justify-self: stretch;
    text-align: center;
    height: 80%;
  }
  .cssimagen img {
    width: 100%;
    background-color: #ebe8f0;
  }
  .content ,.cssimagen, h3,
  a {
    display: inline;
    font-weight: 0.5rem;
    background-color: #ebe8f0;
  }
  .contac-section {
    width: 100vh;
    height: 100vh;
    /*color: #ebe8f0;*/
  }
  .contac-section h2 {
    font-size: 1rem;
    color: #ebe8f0;
  }

  .contac-section a,
  p {
    padding: 0.1rem;
    font-size: 0.1rem;
  }
}
